.order {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  line-height: 1.1;
}

.item {
  border-bottom: 2px solid #ff2415;
}

.item-title {
  font-size: 0.75rem;
  padding: 1rem 0;
  font-weight: 700;
}

.total {
  font-weight: 700;
  display: inline-block;
  margin-left: 8px;
  padding: 1rem 0;
}
