.container-products {
  padding: 0 0.313rem;
}

.container-orders {
  margin-top: 5rem;
  padding: 0 0.313rem;
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 800;
  color: #ff2415;
  font-size: 1.25rem;
}

.btn {
  border: none;
}

.btn-add {
  color: #ff9540;
  padding: 1rem;
  margin-left: 1rem;
  font-weight: 700;
  font-size: 0.875rem;
}
