.main {
  flex: 1;
  display: block;
}

.section {
  background: #f2f2f0;
  color: #707070;
}

.list {
  padding-top: 1.5rem;
  padding-bottom: 2.5rem;
}

.error {
  color: #707070;
  line-height: 1;
  font-size: 1.5rem;
  padding: 1.125rem 0;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .list {
    width: 75%;
    margin: 0 auto;
  }
}
