.main {
  flex: 1;
  background: #f2f0f0;
}

.filter {
  background: #f2f0f0;
  position: sticky;
  z-index: 1;
  top: 0;
}

@media only screen and (min-width: 992px) {
  .main {
    background: #f2f0f0;
  }
}
