main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background: #f2f0f0;
}

.filter {
  background: #f2f0f0;
  position: sticky;
  z-index: 1;
  top: 0;
}

.loader {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
