.cart-item {
  color: #363636;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #363636;
  padding: 1em 0;
  margin: 1em 0;
}

.container-img {
  display: flex;
  max-width: 100%;
  height: 75px;
}

.img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.name {
  word-wrap: break-word;
  margin-left: 10px;
}

.summary {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.price {
  color: #ff2415;
  font-weight: 600;
}

.quantity {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #363636;
  margin-left: 12px;
}

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button {
  width: 3rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: #ff2415;
  border: 1px solid #ff2415;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  margin: 0.25rem;
}

.button:hover,
.button:active {
  background-color: #ff2415;
  color: white;
}

@media only screen and (min-width: 992px) {
  .cart-item {
    color: #707070;
  }

  .price {
    color: #ff2415;
  }
}
