.modal {
  background: #ffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 1.5rem;
  padding: 0.75rem;
  color: #ff2415;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper a {
  text-decoration: none;
  color: #707070;
  padding: 0.75rem;
}

.wrapper a:last-child {
  color: #ff2415;
  align-self: center;
  font-weight: 600;
  font-size: 1rem;
}

.login-btn {
  border: none;
  padding: 0.75rem 0;
  background: #ff2415;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 2rem;
}
